/* 全屏 */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.bodyExpanded {
  overflow: hidden;
}

/* 视图 */
#view {
  display: flex;
  align-items: flex-start;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  font-size: 0;
}
#leftView, #rightView {
  width: 50vw;
}
.placeholder {
  height: 20vh;
}

/* 展示图 */
.good {
  margin-bottom: 10vh;
  padding: 0 5vw;
  text-align: center;
  /* 清除 inline-block 空白间隙 */
  font-size: 0;
  cursor: pointer;
}
.good:first-child {
  margin-top: 10vh;
}
.good:last-child {
  margin-bottom: 0;
}

/* 具体展示内容 */
.good .present {
  position: relative;
  min-height: 180px;
}
/* 图片展开前后样式 */
.good .present .goodPic {
  position: relative;
  width: 30vw;
  z-index: 3;
}
.good .present .goodPicExpanded {
  position: fixed;
  right: 0;
  bottom: 20vh;
  width: 40vw;
  z-index: 30;
}
/* 遮罩展开前后样式 */
.good .present .mask {
  width: 40vw;
  height: 40vw;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #C8C8C8;
}
.good .present .maskExpanded {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50vh;
  width: 100vw;
  z-index: 10;
}
.topMask {
  position: fixed;
  left: 0;
  bottom: 50vh;
  height: 50vh;
  width: 100vw;
  opacity: 0;
  z-index: -1;
  background-color: white;
}
.topMaskExpanded {
  opacity: 1;
  z-index: 10;
}
/* 描述展开前后样式 */
.good .intro {
  text-align: left;
  font-size: 12px;
}
.good .intro .title {
  font-size: 16px;
}
.good .intro .titleExpanded {
  position: fixed;
  top: 45vh;
  left: 5vw;
  z-index: 30;
}
.good .intro .desc {
  color: lightgrey;
}
.good .intro .descExpanded {
  position: fixed;
  top: 55vh;
  left: 5vw;
  font-size: 16px;
  z-index: 30;
  color: white;
}
.good .intro .detail {
  font-size: 0;
  color: lightgrey;
}
.good .intro .detailExpanded {
  position: fixed;
  top: 60vh;
  left: 5vw;
  font-size: 12px;
  z-index: 30;
  color: white;
}
.wordWrap {
  display: inline-block;
  max-width: 50vw;
  word-break: break-all;
}

/* 切换按钮定位 */
.switch {
  position: absolute;
  top: 5vw;
  right: 7vw;
  width: 7vw;
  cursor: pointer;
  z-index: 999;
}
.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}